.Row {
    height: calc(100vh - 81px);
    margin-top: 80px;
  }
  
  .Form {
    background: #ffffff;
    border: 1px solid #f0f1f9;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 30px 10px;
    text-align: center;
  }
  
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #2142b2;
  }
  
  .Input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f0f1f9;
    border-radius: 2px;
    color: #7177a1;
    text-align: center;
  }
  
  .Button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  