/* src/styles/Homepage.module.css */

.HomepageBackground {
    background-color: #f4f4f4; /* Light gray background */
    min-height: calc(100vh - 81px); /* Adjusted height */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content vertically and horizontally */
    padding: 30px 10px; /* Adjusted padding */
  }
  
  .HomepageBoxPos {
    width: 100%; /* Full width */
    max-width: 600px; /* Maximum width of the content */
    margin: auto; /* Center align the content */
  }
  
  .HomepageCard {
    background-color: #ffffff; /* White background */
    border: 1px solid #f0f1f9; /* Border style */
    border-radius: 2px; /* Border radius */
    color: #7177a1; /* Text color */
    padding: 10px; /* Padding inside the card */
    margin-bottom: 30px; /* Space below the card */
    box-shadow: none; /* No shadow */
  }
  
  .CardTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #2142b2; /* Header color */
    margin-bottom: 15px; /* Space below title */
  }
  
  .Footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0; /* Padding on top and bottom */
    width: 100%;
    position: relative; /* Adjusted to 'relative' */
    margin-top: 30px; /* Space above the footer */
  }
  
  .Footer a {
    color: white;
    text-decoration: none; /* Removing underline */
    margin: 0 10px;
    font-size: 1.2em; /* Larger icons */
    transition: color 0.3s;
  }
  
  .Footer a:hover {
    color: #e0e0e0; /* Lighter color on hover */
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .HomepageBoxPos {
      width: 95%; /* Slightly reduced width for mobile */
    }
  
    .HomepageCard {
      margin-bottom: 20px; /* Smaller space below the card on mobile */
    }
  }
  