:root {
  --moonstone:#28BACF;
  --seasalt: #F8F9F8;
  --aureolin: #FCEB34;
  --ashgray: #C0CFC8;
  --wheat: #F7DCB2;
  --green: #28a745; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
